
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: { .Values.global.namespace }
spec:
  replicas: { .Values.api.replicaCount }
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: "{{ .Values.global.imageRegistry }}/{{ .Values.api.image }}:{{ .Values.api.tag }}"
          imagePullPolicy: IfNotPresent
          env:
            - name: RUST_LOG
              value: "{{ .Values.global.env.RUST_LOG }}"
            - name: M0_LOG_JSON
              value: "{{ .Values.global.env.M0_LOG_JSON }}"
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: { .Values.global.namespace }
spec:
  selector:
    app: api
  ports:
    - name: http
      port: 8080
      targetPort: 8080
